body{
    background-image: url('back.jpg');
    background-size:cover;
    background-repeat: no-repeat;
   
}
.ved{
    margin-left: 65px;
    
    
    
}
.aa{
    margin-left: 25px;
    border: black solid 2px;
    margin-right: 355px;
}